*.pyc
/dist/
/*.egg-info
/.vscode
tags
/doc/_build/
/doc/api/
/doc/tutorials/
/.idea/
/build/
/.pytest_cache/
/.eggs/
.ipynb_checkpoints/
_version.py
.DS_Store
*.png
*.mp4
Model/atmosphere.pkl
Model/atmosphere_modes.pkl
*.png
*.png
